@{
    ViewData["Title"] = "Admin Services";
    @model IndexViewModel;
    @using SFA.DAS.ToolService.Web.Controllers.Admin
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl"> What do you want to do?</h1>

        <form asp-controller="@typeof(AdminController).GetControllerName()" asp-action="@nameof(AdminController.IndexHandleChoice)" method="post">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice" name="Choice" type="radio" value="ManageApplications" required>
                            <label class="govuk-label govuk-radios__label" for="admin-choice">
                                Manage applications
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice-2" name="Choice" type="radio" value="ManageRoles" required>
                            <label class="govuk-label govuk-radios__label" for="admin-choice-2">
                                Manage roles
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice-3" name="Choice" type="radio" value="ManageNotifications" required>
                            <label class="govuk-label govuk-radios__label" for="admin-choice-3">
                                Manage Notifications
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>

            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
