@{
    ViewData["Title"] = "Admin Services";
    @model IndexViewModel;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        <form asp-controller="Admin" asp-action="IndexHandleChoice" method="post">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
                        <h1 class="govuk-fieldset__heading">
                            What do you want to do?
                        </h1>
                    </legend>
                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice" name="Choice" type="radio" value="ManageApplications">
                            <label class="govuk-label govuk-radios__label" for="admin-choice">
                                Add or remove an application
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice-2" name="Choice" type="radio" value="ManageRoles">
                            <label class="govuk-label govuk-radios__label" for="admin-choice-2">
                                Add or remove a role
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="admin-choice-3" name="Choice" type="radio" value="RoleAssignment">
                            <label class="govuk-label govuk-radios__label" for="admin-choice-3">
                                Manage role assignments
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>


            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>





    </div>
</div>
