@{
    ViewData["Title"] = "Admin Services";
    @model IndexViewModel;
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        <h1 class="govuk-heading-xl">Manage roles</h1>
    </div>
</div>
