@{
    ViewData["Title"] = "SignIn";
    @using SFA.DAS.ToolService.Web.Controllers
    @using SFA.DAS.ToolService.Web.Extensions
    @model SignInViewModel;

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tool Service</h1>

        <p class="govuk-body">Use this service to access platform tooling</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You will need the following:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>an Azure AD account provided by the DAS DevOps Team</li>
        </ul>
        <a asp-action="@nameof(AccountController.Login)" asp-controller="@typeof(AccountController).GetControllerName()" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Sign in
        </a>
    </div>
</div>
