@{
    ViewData["Title"] = "Home";
    @using SFA.DAS.ToolService.Web.Controllers
    @using SFA.DAS.ToolService.Web.Extensions
    @model HomeViewModel;

}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Tool Service</h1>

        <p class="govuk-body">Use this service to access platform tooling</p>

        <h2 class="govuk-heading-m">Before you start</h2>

        <p class="govuk-body">You will need one of the following:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>a GitHub account that is member of the <a class="govuk-link" href="@Model.GitHubOrgAddress" target="_blank">SkillsFundingAgency</a> organisation.</li>
            <li>an Azure Active Directory user. For access please contact Apprenticeships Platform Engineering team via the das-devops Slack channel</li>
        </ul>
        <a asp-action="@nameof(AccountController.Login)" asp-controller="@typeof(AccountController).GetControllerName()" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
            Sign in
        </a>
    </div>
</div>
