@using SFA.DAS.ToolsNotifications.Client;
@inject INotificationClient notificationClient;

@{
    var notification = await notificationClient.GetNotification();
}

@if (@notification != null && @notification.Enabled)
{
    <div class="das-notification">
        <p class="das-notification__heading govuk-!-margin-bottom-0">
            @notification.Title
        </p>
        <p class="govuk-body govuk-!-margin-bottom-0">
            @notification.Description
        </p>
    </div>
}
