@{
    ViewData["Title"] = "Admin Services";
    @model ManageApplicationsViewModel;
    @using SFA.DAS.ToolService.Web.Extensions
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                This area is for admin users only.
            </strong>
        </div>

        <form asp-controller="AdminApplication" asp-action="ManageApplicationsHandleChoice" method="post">
            <h1 class="govuk-heading-xl">Manage applications</h1>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios">
                        @foreach (var action in Enum.GetValues(typeof(ManageApplicationActions)).Cast<ManageApplicationActions>())
                        {
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="@action" name="Action" type="radio" value="@action" required>
                                <label class="govuk-label govuk-radios__label" for="@action">
                                    @action.GetDescription()
                                </label>
                            </div>
                        }


                    </div>
                </fieldset>
            </div>
            <button class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>
    </div>
</div>
